upstream bb-pineapple-sock {
    server unix:/var/run/pineapple-session.sock;
}
server {
        server_name {{ NGINX_SERVER_NAME }};

        error_log /var/log/nginx/session.error.log;
        access_log /var/log/nginx/m.session.access.log custom;

        location ~ ^/api/session/\S+$ {
          if ($request_method = GET) {
            proxy_pass http://bb-pineapple-sock$uri$is_args$args;
            access_log /var/log/nginx/session.access.log custom;
            #access_log off;
          }
        }

        location ~ ^/api/user/\d+/session$ {
          if ($request_method = GET) {
            proxy_pass http://bb-pineapple-sock$uri$is_args$args;
            access_log /var/log/nginx/session.access.log custom;
            #access_log off;
          }
        }

        location ~ ^/health$ {
          if ($request_method = GET) {
            proxy_pass http://bb-pineapple-sock$uri$is_args$args;
            access_log /var/log/nginx/session.access.log custom;
          }
        }
}

